
@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    transition: 0.5s;

}

.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;     
}
.container{
    width: 30rem;
    padding: 10px;
    border-radius: 20px;
    background-color: white;
    font-size: 60px;
}

button{
    display: block;
    width: 100%;
    background-color: black;
    color: white;
    border-radius: 10px;
    font-size: 40px;
    font-family: "Jersey 15", sans-serif;
}
